{% load bootstrap4 %} <!-- Chargement des templates disponibles dans Bootstrap --> 

<!doctype html> <!-- Déclaration du fichier comme document HTML --->
<html lang="en"> <!--- Langage d'écriture du docment -->
<head> <!-- Début de la tête du fichier HTML -->
	<!-- Montre tout ce dont a besoin le navigateur pour afficher la page correctement --> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Learning Log</title> <!-- Affiche Learning Log comme titre dans la barre du navigateur de l'onglet -->

	{% bootstrap_css %}<!--Dit à Django d'inclure tous les fichers stylistiques Bootstrap-->
	{% bootstrap_javascript jquery='full' %}<!-- Active tous les comportements interactifs que l'on peut utiliser sur une page (ex : barre de navigation coulissante)-->

</head>
<body>
	<!-- Contient le contenu que les utilisateurs verront dans la page.-->
		<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border"><!--Décrit la section des liens de la page de navigation d'après les règles de style Bootstrap définis par les sélecteurs (ex : navbar)-->

			<a class="navbar-brand" href="{% url 'learning_logs:index'%}">Learning Log</a><!--Met le nom du projet en haut à gauche de la barre de navigation et le transforme en lien distinct des autres liens à la page d'acceuil--> 

			<!-- Boutton qui apparait si la fenêtre de navigation est trop étroit pour afficher toute la barre de navigation horizontalement-->

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarCollapse"><!--Nouvelle section de la barre de navigation-->
				<ul class="navbar-nav mr-auto"><!--Définition d'un nouveau set de liens (ici la page Topics)-->
					<li class="nav-item">
						<a class="nav-link" href="{% url 'learning_logs:topics'%}">
							Topics</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
				<!--Définition d'un nouveau set de liens (ici la page de connexion)-->
					<!--ml-auto : examination des éléments dans la barre de navigation, création d'une marge gauche qui repousse le set de liens vers le côté droit de l'écran. -->  
					{% if user.is_authenticated %}
						<li class="nav-item">
							<!-- span : stylise des parties de texte, d'éléments d'une page qui font partie d'une ligne longue -->
							<span class="navbar-text">Bonjour, {{ user.username }}.</span>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'users:logout' %}">Se déconnecter</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'users:register' %}">S'enregistrer</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'users:login' %}">Se connecter</a></li>	
					{% endif %}
				</ul>
			</div>

		</nav>

		<!-- main : utilisé pour les parties les plus significatives du corps d'une page -->
		<main role="main" class="container">
			<!-- pb-2 : Ajout d'espace entre le contenu d'un élément et sa bordure -->
			<!-- mb-2 : espace entre la bordure d'un élément et les autres éléments sur la page -->
			<!-- border-bottom : sélecteur qui donne une bordure mince au fond d'un élément stylisé --> 
			<div class="pb-2 mb-2 border-bottom">
				<!-- page_header pour titrer la majorité des pages-->
				{% block page_header %}
					<!-- jumbotron : large boite qui contient une description générale du projet et appelle au visiteur à l'utilisation -->
					<div class="jumbotron">
						<!-- h1 : header de premier niveau -->
						<!-- display-3 : sélecteur ajoutant à ce header une plus mince et grande apparence -->
						<h1 class="display-3">Suivez votre apprentissage.</h1>

						<!-- Inclusion du message ajoutant ce que l'utilisateur peut faire -->
						<p class="head">Créez votre propre journal d'apprentissage, et tenez une liste des sujets sur lesquels vous vous renseignez. Chaque fois que vous apprenez quelque chose de nouveau sur un sujet, faites une entrevue résumant ce que vous avez appris.</p>

						<!-- Creation du bouton invitant l'utilisateur à s'enregistrer 
						- &raquo : entité HTML qui affiche "">>"" -->
						<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">S'enregistrer &raquo</a>
					</div>
				{% endblock page_header %}

			</div>
			<!-- Content le block contenu -->
			<div>
				{% block content %}{% endblock content %}
			</div>
		</main>
	
	</body>

</html>















