{% extends "learning_logs/base.html" %}
<!-- Charger le template bootstrap4 dans la page html -->
{% load bootstrap4 %}

<!-- Dit à l'utilisateur la fonction de la page -->
{% block page_header %}
	<h2>Ajouter une nouvelle entrée.</h2>
{% endblock page_header %}



{% block content %}
	
	<form method="post" action="{% url 'learning_logs:new_entry' topic.id %}" class="form"><!-- Associe la nouvelle entrée avec le topic correspondant par la fonction vue -->
		{% csrf_token %}
		{% bootstrap_form form %} <!--- Affiche les éléments du formulaire en format paragraphe avec les règles stylistiques de la template bootstrap4 --->
		{% buttons %}
			<button name="submit" class="btn btn-primary">Ajouter une entrée</button> <!--- Crée un boutton "soumettre" --->
		{% endbuttons %}
	</form>

{% endblock content %}




