{% extends 'learning_logs/base.html' %}

{% block content %}

	<p>Topic: {{ topic }}</p> <!--- Montre la rêquete topic inclus dans le dictionnaire context --->

	<p>Entries:</p>
	<p>
		<a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
	</p><!-- Ajout d'un lien à la page new_entry sur chaque page de topic-->

	<ul>
	{% for entry in entries %}
		<li>
			<p>{{ entry.date_added|date:'M d, Y H:1' }}</p> <!--- Horodatage des entrées au format Mois jour, Année heure ---> 
			<p>{{ entry.text|linebreaks }}</p> <!--- Affichage des textes des entrées avec des sauts de lignes compris par les navigateurs web --->
		</li>
	{% empty %}<!--- affiche un message informant l'utilisateur qu'il n'y a pas d'entrées faits--->
			<li>There are no entries for this topic yet.</li>
	{% endfor %}
	</ul>

{% endblock content %}

