{% extends 'learning_logs/base.html' %}<!--- Hérite des données de la base.html---> 

{% block page_header %}
	<!-- Entête stylisant Topics-->	
	<h1>Topics</h1>
{% endblock page_header %}

{% block content %}
	<ul> <!--- Liste désordonnée --->
		{% for topic in topics %} 
	    	<!-- Stylisation d'entête de taille 3 -->
	    	<li><h3>
	    		<a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
	    	</h3></li> <!--- Deux accolades pour print le texte du topic --->
	 		{% empty %} <!--- Pas d'item dans la liste = avertissement --->
	    	<li><h3>No topics ave been added yet.</h3></li>
	  	{% endfor %}
	</ul>

	<h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></h3>
{% endblock content %}
